{
  "env": {
    "development": {
      "presets": [
        ["env", {
          "debug": true,
          "modules": false,
          "targets": { "browsers": "last 2 Chrome versions" },
          "useBuiltIns": "usage",
        }],
      ],
    },
    "production": {
      "plugins": ["transform-runtime"],
      "presets": [
        ["env", {
          "debug": true,
          "modules": false,
          "targets": { "browsers": "last 2 versions" },
          "useBuiltIns": "usage",
        }],
      ],
    },
    "test": {
      "presets": ["env"],
    },
  },
}
